<!DOCTYPE HTML>
<html>
	<head>
		<title>UK Music Fest</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index" id="logo">UK Music Festival</a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/stage">Stage & Venue</a></li>
								<li><a href="/blog-1">About Us</a></li>
								<li><a href="/lineup">Line Up Artist</a></li>
								<li><a href="/contact">Contact Us</a></li>
							</ul>
						</nav>

				</div>