
				<%-include('partials/header');-%>
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3><a href="#">Early Bird Tickets</a></h3>
									</header>
									<p>
										Get ahead of the crowd and secure your spot at Music Fest with our exclusive Early Bird Tickets! Don't miss out on this limited-time offer to experience the ultimate music festival at a special discounted price.
									</p>
									<footer>
										<a href="#" class="button">Learn More</a>
									</footer>
								</section>
								<hr />
								<section>
									<header>
										<h3><a href="#">Ticket Options</a></h3>
									</header>
									<p>
										Get your ticket with our best ticket option
									</p>
									<div class="row gtr-50">
										<div class="col-4">
											<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>General Admission Pass</h4>
											<p>
												This ticket grants you access to all stages & performances.
											</p>
											
										</div>
										<div class="col-4">
											<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>VIP Pass</h4>
											<p>
												Enjoy a range of premium perks, including access to VIP areas.
											</p>
										</div>
										<div class="col-4">
											<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Group Package</h4>
											<p>
												Share the experience with your friends and group.
											</p>
										</div>
										<div class="col-4">
											<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
										</div>
										<div class="col-8">
											<h4>Single-Day Pass</h4>
											<p>
												We offer Single-Day Passes for each day of the event. 
											</p>
										</div>
									</div>
									<footer>
										<a href="#" class="button">Magna Adipiscing</a>
									</footer>
								</section>
							</div>
							<div class="col-8 col-12-mobile imp-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#">What is Music Fest?</a></h2>
										<p>
											Music Fest is more than just a music festival—it's an immersive celebration of sound, art, and community.
										</p>
									</header>
									<a href="#" class="image featured"><img src="images/people.jpg" alt="" /></a>
									<p>
										At Music Fest, we curate an exceptional lineup of artists from various genres, ensuring there's something for everyone. From chart-topping headliners to emerging talents, we create a diverse musical tapestry that transcends boundaries and unites people through the universal language of music.
									</p>
									<section>
										<header>
											<h3>More than just the music</h3>
										</header>
										<p>
											But Music Fest is more than just the music. It's a multi-dimensional experience that engages all your senses. Lose yourself in the enchanting melodies, feel the energy of the crowd pulsating through your veins, and witness breathtaking performances that will leave you awestruck.
										</p>
										<p>
											Beyond the stages, Music Fest offers a plethora of activities and attractions. Immerse yourself in captivating art installations, indulge in delectable culinary offerings, explore curated marketplaces filled with unique crafts, and connect with fellow music lovers who share your passion.
										</p>
									</section>
									<section>
										<header>
											<h3>Come Join Us!</h3>
										</header>
										<p>
											Join us as we embark on a journey of rhythm, harmony, and unity. Let the music guide you, and let the vibrant atmosphere of Music Fest ignite your spirit. Discover new sounds, rediscover old favorites, and create moments that will stay with you long after the last chord fades away.
										</p>
									</section>
								</article>
							</div>
						</div>
						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/people.jpg" alt="" /></a>
								<header>
									<h3><a href="#">What is Music Fest?</a></h3>
								</header>
								<p>
									Music Fest is an annual music festival that brings together music enthusiasts from all walks of life. It's a celebration of diverse genres, captivating performances, and an unforgettable experience that combines the magic of music with a vibrant festival atmosphere.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/october.jpg" alt="" /></a>
								<header>
									<h3><a href="#">When The Music Fest taking place?</a></h3>
								</header>
								<p>
									Music Fest will be held on 1st October - 31st October at London. Our carefully selected venue provides the perfect backdrop for an immersive and unforgettable music festival experience.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/pay.jpg" alt="" /></a>
								<header>
									<h3><a href="#">How can I purchase tickets?</a></h3>
								</header>
								<p>
									You can purchase tickets for Music Fest through our official website. Simply visit the "Tickets" page and follow the easy steps to secure your spot at this incredible event. Early bird and VIP ticket options may also be available, so be sure to check our website for the latest updates.
								</p>
							</article>
						</div>
					</div>

				</div>

<%-include('partials/footer');-%>